* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: rgb(240, 68, 68);
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    background-color: rgb(240, 68, 68);
    margin: 0;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: large;
}

.logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: white;
    position: relative;
    margin-right: -15px; /* Adjust spacing between links */
    left: 1400px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo a:hover {
    color: #FFE66D;
    transform: scale(1.1);
}

.logo a:focus {
    color: yellow;
}

.Welcome {
    background-color: #4ECDC4;
    padding: 130px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
}

.Welcome h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    margin-top: -25px; /* Adjusted to add space between elements */
}

.h1_Welcome {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
    
}

p {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

.cta-button { 
    background: #ffd500; 
    color: black;
    padding: 0.75rem 1.5rem; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.1);
    background: #ffd500;
}

.About {
    background-color: #e0e0e0;
    padding: 130px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
}

#h1-about {
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    position: relative;
    top: -200px;
}

.wcf-button {
    background: #ffffff; 
    color: black;
    padding: 100px;
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block;
    rotate: 0deg;
    transition: transform 0.3s ease, color 0.3s ease;
}