* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

header{
    background-color: rgb(255, 4, 88);
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    background-color: rgb(255, 4, 88);
    margin: 0;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: large;
}

.logo a {
    text-decoration: none;
    font-weight:700;
    font-size: medium;
    color: white;
    position: relative;
    margin-right: -15px; /* Adjust spacing between links */
    left: 1400px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo a:hover {
    color: #FFE66D;
    transform: scale(1.1);
}

.logo a:focus {
    color: yellow;
}
